AI003_Dify/测试Markdown转换器插件.yml
app:
  description: 单纯测试调用【Markdown 转换器】插件，用于将结果生成 pdf , docx 文件。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 测试Markdown转换器插件
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/zhipuai:0.0.7@1ee8fe156cc3dffcd085d7fc5581395aecf667cfb548c8d621e505b8a160b619
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: bowenliang123/md_exporter:0.3.0@079e806d58d51ba4d7bdde88dde388db939f5d2d92023bac15495fa21a153182
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1743066551661-source-1743066558096-target
      source: '1743066551661'
      sourceHandle: source
      target: '1743066558096'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1743066558096-source-1743066576136-target
      source: '1743066558096'
      sourceHandle: source
      target: '1743066576136'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1743066576136-source-1743066579341-target
      source: '1743066576136'
      sourceHandle: source
      target: '1743066579341'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1743066558096-source-1743066929169-target
      source: '1743066558096'
      sourceHandle: source
      target: '1743066929169'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: end
      id: 1743066929169-source-1743066579341-target
      source: '1743066929169'
      sourceHandle: source
      target: '1743066579341'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: inputText
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: inputText
      height: 89
      id: '1743066551661'
      position:
        x: 79
        y: 282
      positionAbsolute:
        x: 79
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params: {}
          mode: chat
          name: glm-4-flash
          provider: langgenius/zhipuai/zhipuai
        prompt_template:
        - id: 79da6ab8-c8ce-43f5-8d61-03de26d7dbb0
          role: system
          text: ''
        - id: a9650bcc-76bd-421f-a6df-e007dc7d21ba
          role: user
          text: '{{#1743066551661.inputText#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1743066558096'
      position:
        x: 471
        y: 276
      positionAbsolute:
        x: 471
        y: 276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          md_text: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: Markdown转PDF文件
        tool_configurations: {}
        tool_label: Markdown转PDF文件
        tool_name: md_to_pdf
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1743066558096.text#}}'
        type: tool
      height: 53
      id: '1743066576136'
      position:
        x: 850.7671816306768
        y: 54.34683038807552
      positionAbsolute:
        x: 850.7671816306768
        y: 54.34683038807552
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743066576136'
          - files
          variable: pdfresult
        - value_selector:
          - '1743066929169'
          - files
          variable: wordresult
        selected: false
        title: 结束
        type: end
      height: 115
      id: '1743066579341'
      position:
        x: 1204.870550563296
        y: 282
      positionAbsolute:
        x: 1204.870550563296
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          label:
            en_US: Markdown text
            ja_JP: Markdown text
            pt_BR: Markdown text
            zh_Hans: Markdown格式文本
          llm_description: ''
          max: null
          min: null
          name: md_text
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          md_text: ''
        provider_id: bowenliang123/md_exporter/md_exporter
        provider_name: bowenliang123/md_exporter/md_exporter
        provider_type: builtin
        selected: false
        title: Markdown转Docx文件
        tool_configurations: {}
        tool_label: Markdown转Docx文件
        tool_name: md_to_docx
        tool_parameters:
          md_text:
            type: mixed
            value: '{{#1743066558096.text#}}'
        type: tool
      height: 53
      id: '1743066929169'
      position:
        x: 850.7671816306768
        y: 310.0103362877468
      positionAbsolute:
        x: 850.7671816306768
        y: 310.0103362877468
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 15.825981273930438
      y: 140.01690847850614
      zoom: 1.1486983549970355
